body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
  width: 60vw;
  margin: auto;
  text-align: center;
}

canvas {
  border: solid black 2px;
}

main {
  background-color: rgb(163, 203, 238);
}

header {
  background-color: aquamarine;
  margin: auto;
  width: 70%;
}

footer {
  background-color: cadetblue;
}

p {
  margin-top: 5px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
  justify-content: space-around;
}

.panel {
  border: solid black 2px;
  width: 20%;
  height: 500px;
}

.picker {
  border: solid black 2px;
  margin-top: 20px;
  padding: 20px;
}

.picker button {
  margin: 5px 10px 5px 10px;
}

.hidden {
  display: none;
}

.save {
  margin-left: 10px;
  margin-right: 10px;
}
